In [2]:
import pandas as pd
import numpy as np

DATA_PATH = 'C:/Users/johnp/OneDrive/Documents/development/nba_elo/data/'

## Load Data

In [50]:
tm_elo = pd.read_csv(DATA_PATH + 'nba_elo_ratings.csv')
schedule = pd.read_csv(DATA_PATH + 'nba_schedule.csv')
tm_elo

,Team,Elo Rating,Point Diff,pts_scored_poss,pts_allowed_poss
0,Atlanta Hawks,1563,0.1,116.3,116.3
1,Boston Celtics,1714,6.9,118.3,111.5
2,Brooklyn Nets,1530,1.0,115.4,114.5
3,Charlotte Hornets,1423,-6.2,109.4,115.6
4,Chicago Bulls,1548,1.3,113.8,112.5
5,Cleveland Cavaliers,1622,5.8,116.7,111.0
6,Dallas Mavericks,1586,0.3,117.2,116.9
7,Denver Nuggets,1722,3.8,118.3,114.6
8,Detroit Pistons,1291,-8.6,110.6,119.2
9,Golden State Warriors,1679,2.4,116.6,114.2
10,Houston Rockets,1319,-8.6,111.0,119.7
11,Indiana Pacers,1462,-4.1,114.7,118.7
12,Los Angeles Clippers,1578,-0.3,114.4,114.8
13,Los Angeles Lakers,1646,0.4,114.8,114.3
14,Memphis Grizzlies,1619,5.0,116.2,111.3
15,Miami Heat,1639,-0.1,113.3,113.4
16,Milwaukee Bucks,1678,4.4,115.9,111.5
17,Minnesota Timberwolves,1621,0.5,114.2,113.7
18,New Orleans Pelicans,1576,1.8,115.0,113.1
19,New York Knicks,1610,3.4,118.7,115.3
20,Oklahoma City Thunder,1462,0.6,115.1,114.5
21,Orlando Magic,1438,-2.4,111.8,114.2
22,Philadelphia 76ers,1690,4.3,118.3,114.0
23,Phoenix Suns,1616,1.3,115.1,113.8
24,Portland Trail Blazers,1515,-3.8,115.3,119.1
25,Sacramento Kings,1528,2.4,119.7,117.3
26,San Antonio Spurs,1358,-9.9,110.9,120.9
27,Toronto Raptors,1638,1.5,115.9,114.4
28,Utah Jazz,1458,-0.9,116.3,117.2
29,Washington Wizards,1509,-1.7,114.9,116.5

In [54]:
# Adjusting elo with points_diff
tm_elo.loc[tm_elo['Point Diff']>=0, 'pt_diff_elo'] = 1500 + 33.33 * tm_elo['Point Diff']
tm_elo.loc[tm_elo['Point Diff']<0, 'pt_diff_elo'] = 1500 - 23.53 * abs(tm_elo['Point Diff'])

# Normalized ELO
# 60% of elo rating, 20% of pt_diff_elo, 20% of mean regression
tm_elo['normalized_elo'] = 0.6* tm_elo['Elo Rating'] + 0.2 * tm_elo['pt_diff_elo'] + 0.2 * 1500
tm_elo

,Team,Elo Rating,Point Diff,pts_scored_poss,pts_allowed_poss,pt_diff_elo,normalized_elo
0,Atlanta Hawks,1563,0.1,116.3,116.3,1503.333,1538.4666
1,Boston Celtics,1714,6.9,118.3,111.5,1729.977,1674.3954
2,Brooklyn Nets,1530,1.0,115.4,114.5,1533.330,1524.6660
3,Charlotte Hornets,1423,-6.2,109.4,115.6,1354.114,1424.6228
4,Chicago Bulls,1548,1.3,113.8,112.5,1543.329,1537.4658
5,Cleveland Cavaliers,1622,5.8,116.7,111.0,1693.314,1611.8628
6,Dallas Mavericks,1586,0.3,117.2,116.9,1509.999,1553.5998
7,Denver Nuggets,1722,3.8,118.3,114.6,1626.654,1658.5308
8,Detroit Pistons,1291,-8.6,110.6,119.2,1297.642,1334.1284
9,Golden State Warriors,1679,2.4,116.6,114.2,1579.992,1623.3984
10,Houston Rockets,1319,-8.6,111.0,119.7,1297.642,1350.9284
11,Indiana Pacers,1462,-4.1,114.7,118.7,1403.527,1457.9054
12,Los Angeles Clippers,1578,-0.3,114.4,114.8,1492.941,1545.3882
13,Los Angeles Lakers,1646,0.4,114.8,114.3,1513.332,1590.2664
14,Memphis Grizzlies,1619,5.0,116.2,111.3,1666.650,1604.7300
15,Miami Heat,1639,-0.1,113.3,113.4,1497.647,1582.9294
16,Milwaukee Bucks,1678,4.4,115.9,111.5,1646.652,1636.1304
17,Minnesota Timberwolves,1621,0.5,114.2,113.7,1516.665,1575.9330
18,New Orleans Pelicans,1576,1.8,115.0,113.1,1559.994,1557.5988
19,New York Knicks,1610,3.4,118.7,115.3,1613.322,1588.6644
20,Oklahoma City Thunder,1462,0.6,115.1,114.5,1519.998,1481.1996
21,Orlando Magic,1438,-2.4,111.8,114.2,1443.528,1451.5056
22,Philadelphia 76ers,1690,4.3,118.3,114.0,1643.319,1642.6638
23,Phoenix Suns,1616,1.3,115.1,113.8,1543.329,1578.2658
24,Portland Trail Blazers,1515,-3.8,115.3,119.1,1410.586,1491.1172
25,Sacramento Kings,1528,2.4,119.7,117.3,1579.992,1532.7984
26,San Antonio Spurs,1358,-9.9,110.9,120.9,1267.053,1368.2106
27,Toronto Raptors,1638,1.5,115.9,114.4,1549.995,1592.7990
28,Utah Jazz,1458,-0.9,116.3,117.2,1478.823,1470.5646
29,Washington Wizards,1509,-1.7,114.9,116.5,1459.999,1497.3998

In [55]:
schedule = schedule.merge(tm_elo[['Team', 'normalized_elo']], left_on='Home/Neutral', right_on='Team', how='left', suffixes=('', '_drop'))
schedule.rename(columns={'normalized_elo':'Home_elo'}, inplace=True)
schedule = schedule.merge(tm_elo[['Team', 'normalized_elo']], left_on='Visitor/Neutral', right_on='Team', how='left', suffixes=('', '_drop'))
schedule.rename(columns={'normalized_elo':'Away_elo'}, inplace=True)

drop_cols = [col for col in schedule.columns if '_drop' in col]
schedule.drop(drop_cols, axis=1, inplace=True)
schedule_df = schedule[['Date', 'Home/Neutral', 'Visitor/Neutral', 'Home_elo', 'Away_elo']].copy()
schedule_df.rename(columns={'Home/Neutral':'Home', 'Visitor/Neutral':'Away'}, inplace=True)
schedule_df

,Date,Home,Away,Home_elo,Away_elo
0,Tue Oct 24 2023,Denver Nuggets,Los Angeles Lakers,1658.5308,1590.2664
1,Tue Oct 24 2023,Golden State Warriors,Phoenix Suns,1623.3984,1578.2658
2,Wed Oct 25 2023,Orlando Magic,Houston Rockets,1451.5056,1350.9284
3,Wed Oct 25 2023,New York Knicks,Boston Celtics,1588.6644,1674.3954
4,Wed Oct 25 2023,Indiana Pacers,Washington Wizards,1457.9054,1497.3998
...,...,...,...,...,...
1195,Sun Apr 14 2024,Minnesota Timberwolves,Phoenix Suns,1575.9330,1578.2658
1196,Sun Apr 14 2024,New Orleans Pelicans,Los Angeles Lakers,1557.5988,1590.2664
1197,Sun Apr 14 2024,Oklahoma City Thunder,Dallas Mavericks,1481.1996,1553.5998
1198,Sun Apr 14 2024,Sacramento Kings,Portland Trail Blazers,1532.7984,1491.1172
1199,Sun Apr 14 2024,San Antonio Spurs,Detroit Pistons,1368.2106,1334.1284

In [56]:
HC_BOOST = 90
schedule_df['h_adj_elo'] = schedule_df['Home_elo'] + HC_BOOST

In [57]:
def calc_win_pct(home_elo, away_elo):
    return 1 / (10 ** (-(home_elo - away_elo) / 400) + 1)

def get_winner(home_win_pct, home_tm, away_tm):
    return home_tm if np.random.binomial(1, home_win_pct) else away_tm

schedule_df['home_win_pct'] = schedule_df.apply(lambda x: calc_win_pct(x['h_adj_elo'], x['Away_elo']), axis=1)
assert schedule_df['home_win_pct'].min() > 0, 'Home win pct less than 0'
assert schedule_df['home_win_pct'].max() < 1, 'Home win pct greater than 1'
assert schedule_df['home_win_pct'].count() == len(schedule_df), 'Home win pct not calculated for all games'

## Simulate Games

In [59]:

schedule_df['home_win'] = np.random.binomial(1, schedule_df['home_win_pct'])

def sim_season(schedule_df):
    schedule_df['winner'] = schedule_df.apply(lambda x: get_winner(x['home_win_pct'], x['Home'], x['Away']), axis=1)
    win_totals = schedule_df['winner'].value_counts()
    return win_totals

win_totals = sim_season(schedule_df)
win_totals

Philadelphia 76ers        57
Denver Nuggets            54
Boston Celtics            53
Milwaukee Bucks           52
Golden State Warriors     52
Minnesota Timberwolves    48
Los Angeles Lakers        47
Toronto Raptors           46
Dallas Mavericks          46
Cleveland Cavaliers       46
New York Knicks           45
New Orleans Pelicans      45
Memphis Grizzlies         44
Phoenix Suns              44
Brooklyn Nets             41
Chicago Bulls             41
Miami Heat                40
Portland Trail Blazers    38
Oklahoma City Thunder     37
Los Angeles Clippers      37
Orlando Magic             36
Sacramento Kings          34
Charlotte Hornets         33
Washington Wizards        33
Utah Jazz                 32
Indiana Pacers            32
Atlanta Hawks             28
San Antonio Spurs         26
Houston Rockets           17
Detroit Pistons           16
Name: winner, dtype: int64

In [49]:
MC_ITERATIONS = 1000
win_totals = pd.DataFrame([sim_season(schedule_df) for _ in range(MC_ITERATIONS)])
win_totals

,Golden State Warriors,Milwaukee Bucks,Philadelphia 76ers,Denver Nuggets,Boston Celtics,Miami Heat,Toronto Raptors,Los Angeles Lakers,Atlanta Hawks,Dallas Mavericks,...,Utah Jazz,Oklahoma City Thunder,Brooklyn Nets,Portland Trail Blazers,Indiana Pacers,Orlando Magic,Charlotte Hornets,San Antonio Spurs,Detroit Pistons,Houston Rockets
winner,60,54,53,51,51,51,50,49,48,47,...,35,34,34,32,32,30,25,20,18,18
winner,51,59,56,57,54,44,41,54,34,37,...,30,32,37,39,29,32,29,23,17,19
winner,55,58,50,58,54,40,53,51,38,40,...,29,30,39,35,33,27,32,20,19,20
winner,54,54,56,57,52,50,47,49,34,43,...,30,38,32,38,25,22,29,27,20,18
winner,59,51,61,58,56,41,46,44,39,46,...,35,29,35,32,27,19,26,24,17,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
winner,53,53,51,59,50,52,52,47,39,45,...,30,32,39,35,34,25,29,18,14,16
winner,51,51,56,53,54,44,46,47,46,49,...,28,32,36,35,36,27,36,22,16,11
winner,49,51,48,66,55,50,42,45,42,35,...,30,32,41,34,26,28,26,23,15,22
winner,49,57,54,57,55,44,50,45,37,42,...,29,37,39,34,27,34,29,19,21,17
winner,49,53,50,55,59,49,56,53,47,47,...,27,33,29,34,38,29,21,21,15,10